/* RESET CSS */
:root {
  --main-color: #1864ff;
  --secondary-color: #edf1fa;
  --dark-color: #04052f;
  --white-color: #fff;
  --border-main: 0 solid #e2e8f0;
}

@font-face {
  font-family: 'SUIT-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

header,
div,
section,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'SUIT-Bold';
}

p,
a,
ul,
li,
button,
code {
  font-family: 'SUIT-Medium';
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

a:active {
  color: inherit;
}

button {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

img {
  display: block;
}

/* BASE : COMPONENT */
.wrap {
  padding: 20px;
}

/* BASE : HOME */

.notice li {
  margin-bottom: 5px;
}

.components-list {
  min-height: 500px;
}

.components-list ul,
.components-list li {
  list-style-type: none;
}

.components-list li {
  position: relative;
}

.components-list img {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 122px;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.components-list li.active img {
  display: block;
  animation: swing 1s linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.components-list a {
  transition: color font-weight 400ms ease-in-out;
}

.components-list a:hover {
  color: var(--main-color);
  font-weight: 800;
}

/* BASE : COMPONENTS */
.components section {
  margin: 30px 0;
}

.components .component {
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.components .reference {
  padding: 20px 20px 0;
}

/* BASE : COMPONENT NOTFOUND */
.component-notfound .ground {
  width: 200px;
  height: 60px;
  overflow: hidden;
}

.component-notfound .ground::before {
  display: block;
  content: '🚕';
  font-size: 40px;
  transform: rotate(90deg);
  animation: going 4s linear infinite;
}

.component-notfound .ground::after {
  display: block;
  width: 200px;
  height: 4px;
  background-color: brown;
  content: '';
}

@keyframes going {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(-80px);
  }
}

/* BASE : PAGINATION */
.pagination {
  margin: 20px 0;
}

.pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 22px;
  border-radius: 6px;
  margin-right: 10px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.075em;
  transition: box-shadow 300ms ease-in-out;
}

.pagination a:hover {
  box-shadow: 0 2px 10px -6px hsla(222, calc(89 * 1%), 60%, 0.55);
}

/* BASE : CODE EDITOR */
.code-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border: var(--border-main);
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);
  overflow: hidden;
}

.editor-header {
  line-height: 1.5;
  border-width: 0;
  border-style: solid;
  background-color: var(--white-color);
  border-color: #edf2f7;
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.editor-btns {
  line-height: 1.5;
  border: var(--border-main);
  display: flex;
  align-items: center;
}

.editor-btns > div {
  height: 0.75rem;
  width: 0.75rem;
  border: var(--border-main);
  background-color: #f56565;
  border-radius: 50%;
  line-height: 1.5;
}

.editor-btns .red {
  background-color: #f56565;
  border-radius: 50%;
}

.editor-btns .yellow {
  background-color: #f6e05e;
  margin-left: 0.5rem;
}

.editor-btns .green {
  background-color: #48bb78;
  margin-left: 0.5rem;
}

/* .editor-copy {
  line-height: 1.5;
  border: var(--border-main);
}

.editor-copy .copy {
  line-height: 1.5;
  fill: none;
  border: var(--border-main);
  display: block;
  cursor: pointer;
  height: 1.5rem;
  stroke: currentColor;
  color: #e2e8f0;
  width: 1.5rem;
  transition: color 300ms ease-in-out;
}

.editor-copy .copy:hover {
  color: #a0aec0;
} */

.editor-menu {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5;
  border: var(--border-main);
  border-bottom-width: 1px;
  background-color: var(--white-color);
}

.editor-menu > button {
  border: 0 solid #667eea;
  font-family: inherit;
  margin: 0;
  overflow: visible;
  background-color: transparent;
  cursor: pointer;
  line-height: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #4a5568;
  letter-spacing: 0.025em;
}

.editor-menu > button.active {
  border-top-width: 2px;
  font-weight: 800;
}

.editor-code {
  border: var(--border-main);
  overflow-y: scroll;
  height: 320px;
}

.content {
  border: var(--border-main);
}

.content div {
  line-height: 1.5;
  border: var(--border-main);
  margin: 0;
  display: none;
  overflow-x: auto;
  color: #333;
  background: #f8f8f8;
  font-size: 14px;
  padding: 1.5rem;
}

.content div.active {
  display: block;
}
