@font-face {
  font-family: 'vaadin';
  src: url('assets/fonts/vaadin.eot?25ge4k');
  src: url('assets/fonts/vaadin.eot?25ge4k#iefix') format('embedded-opentype'),
    url('assets/fonts/vaadin.ttf?25ge4k') format('truetype'),
    url('assets/fonts/vaadin.woff?25ge4k') format('woff'),
    url('assets/fonts/vaadin.svg?25ge4k#vaadin') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vaadin' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-times:before {
  content: '\e900';
}
.ic-tick:before {
  content: '\e901';
}
.ic-plus:before {
  content: '\e902';
}
.ic-minus:before {
  content: '\e903';
}
.ic-equals:before {
  content: '\e904';
}
.ic-divide:before {
  content: '\e905';
}
.ic-chevron-right:before {
  content: '\e906';
}
.ic-chevron-left:before {
  content: '\e907';
}
.ic-arrow-right-thick:before {
  content: '\e908';
}
.ic-arrow-left-thick:before {
  content: '\e909';
}
.ic-th-small:before {
  content: '\e90a';
}
.ic-th-menu:before {
  content: '\e90b';
}
.ic-th-list:before {
  content: '\e90c';
}
.ic-th-large:before {
  content: '\e90d';
}
.ic-home:before {
  content: '\e90e';
}
.ic-arrow-forward:before {
  content: '\e90f';
}
.ic-arrow-back:before {
  content: '\e910';
}
.ic-rss:before {
  content: '\e911';
}
.ic-location:before {
  content: '\e912';
}
.ic-link:before {
  content: '\e913';
}
.ic-image:before {
  content: '\e914';
}
.ic-arrow-up-thick:before {
  content: '\e915';
}
.ic-arrow-down-thick:before {
  content: '\e916';
}
.ic-starburst:before {
  content: '\e917';
}
.ic-starburst-outline:before {
  content: '\e918';
}
.ic-star:before {
  content: '\e919';
}
.ic-flow-children:before {
  content: '\e91a';
}
.ic-export:before {
  content: '\e91b';
}
.ic-delete:before {
  content: '\e91c';
}
.ic-delete-outline:before {
  content: '\e91d';
}
.ic-cloud-storage:before {
  content: '\e91e';
}
.ic-wi-fi:before {
  content: '\e91f';
}
.ic-heart:before {
  content: '\e920';
}
.ic-flash:before {
  content: '\e921';
}
.ic-cancel:before {
  content: '\e922';
}
.ic-backspace:before {
  content: '\e923';
}
.ic-attachment:before {
  content: '\e924';
}
.ic-arrow-move:before {
  content: '\e925';
}
.ic-warning:before {
  content: '\e926';
}
.ic-user:before {
  content: '\e927';
}
.ic-radar:before {
  content: '\e928';
}
.ic-lock-open:before {
  content: '\e929';
}
.ic-lock-closed:before {
  content: '\e92a';
}
.ic-location-arrow:before {
  content: '\e92b';
}
.ic-info:before {
  content: '\e92c';
}
.ic-user-delete:before {
  content: '\e92d';
}
.ic-user-add:before {
  content: '\e92e';
}
.ic-media-pause:before {
  content: '\e92f';
}
.ic-group:before {
  content: '\e930';
}
.ic-chart-pie:before {
  content: '\e931';
}
.ic-chart-line:before {
  content: '\e932';
}
.ic-chart-bar:before {
  content: '\e933';
}
.ic-chart-area:before {
  content: '\e934';
}
.ic-video:before {
  content: '\e935';
}
.ic-point-of-interest:before {
  content: '\e936';
}
.ic-infinity:before {
  content: '\e937';
}
.ic-globe:before {
  content: '\e938';
}
.ic-eye:before {
  content: '\e939';
}
.ic-cog:before {
  content: '\e93a';
}
.ic-camera:before {
  content: '\e93b';
}
.ic-upload:before {
  content: '\e93c';
}
.ic-scissors:before {
  content: '\e93d';
}
.ic-refresh:before {
  content: '\e93e';
}
.ic-pin:before {
  content: '\e93f';
}
.ic-key:before {
  content: '\e940';
}
.ic-info-large:before {
  content: '\e941';
}
.ic-eject:before {
  content: '\e942';
}
.ic-download:before {
  content: '\e943';
}
.ic-zoom:before {
  content: '\e944';
}
.ic-zoom-out:before {
  content: '\e945';
}
.ic-zoom-in:before {
  content: '\e946';
}
.ic-sort-numerically:before {
  content: '\e947';
}
.ic-sort-alphabetically:before {
  content: '\e948';
}
.ic-input-checked:before {
  content: '\e949';
}
.ic-calender:before {
  content: '\e94a';
}
.ic-world:before {
  content: '\e94b';
}
.ic-notes:before {
  content: '\e94c';
}
.ic-code:before {
  content: '\e94d';
}
.ic-arrow-sync:before {
  content: '\e94e';
}
.ic-arrow-shuffle:before {
  content: '\e94f';
}
.ic-arrow-repeat:before {
  content: '\e950';
}
.ic-arrow-minimise:before {
  content: '\e951';
}
.ic-arrow-maximise:before {
  content: '\e952';
}
.ic-arrow-loop:before {
  content: '\e953';
}
.ic-anchor:before {
  content: '\e954';
}
.ic-spanner:before {
  content: '\e955';
}
.ic-puzzle:before {
  content: '\e956';
}
.ic-power:before {
  content: '\e957';
}
.ic-plane:before {
  content: '\e958';
}
.ic-pi:before {
  content: '\e959';
}
.ic-phone:before {
  content: '\e95a';
}
.ic-microphone:before {
  content: '\e95b';
}
.ic-media-rewind:before {
  content: '\e95c';
}
.ic-flag:before {
  content: '\e95d';
}
.ic-adjust-brightness:before {
  content: '\e95e';
}
.ic-waves:before {
  content: '\e95f';
}
.ic-social-twitter:before {
  content: '\e960';
}
.ic-social-facebook:before {
  content: '\e961';
}
.ic-social-dribbble:before {
  content: '\e962';
}
.ic-media-stop:before {
  content: '\e963';
}
.ic-media-record:before {
  content: '\e964';
}
.ic-media-play:before {
  content: '\e965';
}
.ic-media-fast-forward:before {
  content: '\e966';
}
.ic-media-eject:before {
  content: '\e967';
}
.ic-social-vimeo:before {
  content: '\e968';
}
.ic-social-tumbler:before {
  content: '\e969';
}
.ic-social-skype:before {
  content: '\e96a';
}
.ic-social-pinterest:before {
  content: '\e96b';
}
.ic-social-linkedin:before {
  content: '\e96c';
}
.ic-social-last-fm:before {
  content: '\e96d';
}
.ic-social-github:before {
  content: '\e96e';
}
.ic-social-flickr:before {
  content: '\e96f';
}
.ic-at:before {
  content: '\e970';
}
.ic-times-outline:before {
  content: '\e971';
}
.ic-plus-outline:before {
  content: '\e972';
}
.ic-minus-outline:before {
  content: '\e973';
}
.ic-tick-outline:before {
  content: '\e974';
}
.ic-th-large-outline:before {
  content: '\e975';
}
.ic-equals-outline:before {
  content: '\e976';
}
.ic-divide-outline:before {
  content: '\e977';
}
.ic-chevron-right-outline:before {
  content: '\e978';
}
.ic-chevron-left-outline:before {
  content: '\e979';
}
.ic-arrow-right-outline:before {
  content: '\e97a';
}
.ic-arrow-left-outline:before {
  content: '\e97b';
}
.ic-th-small-outline:before {
  content: '\e97c';
}
.ic-th-menu-outline:before {
  content: '\e97d';
}
.ic-th-list-outline:before {
  content: '\e97e';
}
.ic-news:before {
  content: '\e97f';
}
.ic-home-outline:before {
  content: '\e980';
}
.ic-arrow-up-outline:before {
  content: '\e981';
}
.ic-arrow-forward-outline:before {
  content: '\e982';
}
.ic-arrow-down-outline:before {
  content: '\e983';
}
.ic-arrow-back-outline:before {
  content: '\e984';
}
.ic-trash:before {
  content: '\e985';
}
.ic-rss-outline:before {
  content: '\e986';
}
.ic-message:before {
  content: '\e987';
}
.ic-location-outline:before {
  content: '\e988';
}
.ic-link-outline:before {
  content: '\e989';
}
.ic-image-outline:before {
  content: '\e98a';
}
.ic-export-outline:before {
  content: '\e98b';
}
.ic-cross:before {
  content: '\e98c';
}
.ic-wi-fi-outline:before {
  content: '\e98d';
}
.ic-star-outline:before {
  content: '\e98e';
}
.ic-media-pause-outline:before {
  content: '\e98f';
}
.ic-mail:before {
  content: '\e990';
}
.ic-heart-outline:before {
  content: '\e991';
}
.ic-flash-outline:before {
  content: '\e992';
}
.ic-cancel-outline:before {
  content: '\e993';
}
.ic-beaker:before {
  content: '\e994';
}
.ic-arrow-move-outline:before {
  content: '\e995';
}
.ic-watch:before {
  content: '\e996';
}
.ic-warning-outline:before {
  content: '\e997';
}
.ic-time:before {
  content: '\e998';
}
.ic-radar-outline:before {
  content: '\e999';
}
.ic-lock-open-outline:before {
  content: '\e99a';
}
.ic-location-arrow-outline:before {
  content: '\e99b';
}
.ic-info-outline:before {
  content: '\e99c';
}
.ic-backspace-outline:before {
  content: '\e99d';
}
.ic-attachment-outline:before {
  content: '\e99e';
}
.ic-user-outline:before {
  content: '\e99f';
}
.ic-user-delete-outline:before {
  content: '\e9a0';
}
.ic-user-add-outline:before {
  content: '\e9a1';
}
.ic-lock-closed-outline:before {
  content: '\e9a2';
}
.ic-group-outline:before {
  content: '\e9a3';
}
.ic-chart-pie-outline:before {
  content: '\e9a4';
}
.ic-chart-line-outline:before {
  content: '\e9a5';
}
.ic-chart-bar-outline:before {
  content: '\e9a6';
}
.ic-chart-area-outline:before {
  content: '\e9a7';
}
.ic-video-outline:before {
  content: '\e9a8';
}
.ic-point-of-interest-outline:before {
  content: '\e9a9';
}
.ic-map:before {
  content: '\e9aa';
}
.ic-key-outline:before {
  content: '\e9ab';
}
.ic-infinity-outline:before {
  content: '\e9ac';
}
.ic-globe-outline:before {
  content: '\e9ad';
}
.ic-eye-outline:before {
  content: '\e9ae';
}
.ic-cog-outline:before {
  content: '\e9af';
}
.ic-camera-outline:before {
  content: '\e9b0';
}
.ic-upload-outline:before {
  content: '\e9b1';
}
.ic-support:before {
  content: '\e9b2';
}
.ic-scissors-outline:before {
  content: '\e9b3';
}
.ic-refresh-outline:before {
  content: '\e9b4';
}
.ic-info-large-outline:before {
  content: '\e9b5';
}
.ic-eject-outline:before {
  content: '\e9b6';
}
.ic-download-outline:before {
  content: '\e9b7';
}
.ic-battery-mid:before {
  content: '\e9b8';
}
.ic-battery-low:before {
  content: '\e9b9';
}
.ic-battery-high:before {
  content: '\e9ba';
}
.ic-zoom-outline:before {
  content: '\e9bb';
}
.ic-zoom-out-outline:before {
  content: '\e9bc';
}
.ic-zoom-in-outline:before {
  content: '\e9bd';
}
.ic-tag:before {
  content: '\e9be';
}
.ic-tabs-outline:before {
  content: '\e9bf';
}
.ic-pin-outline:before {
  content: '\e9c0';
}
.ic-message-typing:before {
  content: '\e9c1';
}
.ic-directions:before {
  content: '\e9c2';
}
.ic-battery-full:before {
  content: '\e9c3';
}
.ic-battery-charge:before {
  content: '\e9c4';
}
.ic-pipette:before {
  content: '\e9c5';
}
.ic-pencil:before {
  content: '\e9c6';
}
.ic-folder:before {
  content: '\e9c7';
}
.ic-folder-delete:before {
  content: '\e9c8';
}
.ic-folder-add:before {
  content: '\e9c9';
}
.ic-edit:before {
  content: '\e9ca';
}
.ic-document:before {
  content: '\e9cb';
}
.ic-document-delete:before {
  content: '\e9cc';
}
.ic-document-add:before {
  content: '\e9cd';
}
.ic-brush:before {
  content: '\e9ce';
}
.ic-thumbs-up:before {
  content: '\e9cf';
}
.ic-thumbs-down:before {
  content: '\e9d0';
}
.ic-pen:before {
  content: '\e9d1';
}
.ic-sort-numerically-outline:before {
  content: '\e9d2';
}
.ic-sort-alphabetically-outline:before {
  content: '\e9d3';
}
.ic-social-last-fm-circular:before {
  content: '\e9d4';
}
.ic-social-github-circular:before {
  content: '\e9d5';
}
.ic-compass:before {
  content: '\e9d6';
}
.ic-bookmark:before {
  content: '\e9d7';
}
.ic-input-checked-outline:before {
  content: '\e9d8';
}
.ic-code-outline:before {
  content: '\e9d9';
}
.ic-calender-outline:before {
  content: '\e9da';
}
.ic-business-card:before {
  content: '\e9db';
}
.ic-arrow-up:before {
  content: '\e9dc';
}
.ic-arrow-sync-outline:before {
  content: '\e9dd';
}
.ic-arrow-right:before {
  content: '\e9de';
}
.ic-arrow-repeat-outline:before {
  content: '\e9df';
}
.ic-arrow-loop-outline:before {
  content: '\e9e0';
}
.ic-arrow-left:before {
  content: '\e9e1';
}
.ic-flow-switch:before {
  content: '\e9e2';
}
.ic-flow-parallel:before {
  content: '\e9e3';
}
.ic-flow-merge:before {
  content: '\e9e4';
}
.ic-document-text:before {
  content: '\e9e5';
}
.ic-clipboard:before {
  content: '\e9e6';
}
.ic-calculator:before {
  content: '\e9e7';
}
.ic-arrow-minimise-outline:before {
  content: '\e9e8';
}
.ic-arrow-maximise-outline:before {
  content: '\e9e9';
}
.ic-arrow-down:before {
  content: '\e9ea';
}
.ic-gift:before {
  content: '\e9eb';
}
.ic-film:before {
  content: '\e9ec';
}
.ic-database:before {
  content: '\e9ed';
}
.ic-bell:before {
  content: '\e9ee';
}
.ic-anchor-outline:before {
  content: '\e9ef';
}
.ic-adjust-contrast:before {
  content: '\e9f0';
}
.ic-world-outline:before {
  content: '\e9f1';
}
.ic-shopping-bag:before {
  content: '\e9f2';
}
.ic-power-outline:before {
  content: '\e9f3';
}
.ic-notes-outline:before {
  content: '\e9f4';
}
.ic-device-tablet:before {
  content: '\e9f5';
}
.ic-device-phone:before {
  content: '\e9f6';
}
.ic-device-laptop:before {
  content: '\e9f7';
}
.ic-device-desktop:before {
  content: '\e9f8';
}
.ic-briefcase:before {
  content: '\e9f9';
}
.ic-stopwatch:before {
  content: '\e9fa';
}
.ic-spanner-outline:before {
  content: '\e9fb';
}
.ic-puzzle-outline:before {
  content: '\e9fc';
}
.ic-printer:before {
  content: '\e9fd';
}
.ic-pi-outline:before {
  content: '\e9fe';
}
.ic-lightbulb:before {
  content: '\e9ff';
}
.ic-flag-outline:before {
  content: '\ea00';
}
.ic-contacts:before {
  content: '\ea01';
}
.ic-archive:before {
  content: '\ea02';
}
.ic-weather-stormy:before {
  content: '\ea03';
}
.ic-weather-shower:before {
  content: '\ea04';
}
.ic-weather-partly-sunny:before {
  content: '\ea05';
}
.ic-weather-downpour:before {
  content: '\ea06';
}
.ic-weather-cloudy:before {
  content: '\ea07';
}
.ic-plane-outline:before {
  content: '\ea08';
}
.ic-phone-outline:before {
  content: '\ea09';
}
.ic-microphone-outline:before {
  content: '\ea0a';
}
.ic-weather-windy:before {
  content: '\ea0b';
}
.ic-weather-windy-cloudy:before {
  content: '\ea0c';
}
.ic-weather-sunny:before {
  content: '\ea0d';
}
.ic-weather-snow:before {
  content: '\ea0e';
}
.ic-weather-night:before {
  content: '\ea0f';
}
.ic-media-stop-outline:before {
  content: '\ea10';
}
.ic-media-rewind-outline:before {
  content: '\ea11';
}
.ic-media-record-outline:before {
  content: '\ea12';
}
.ic-media-play-outline:before {
  content: '\ea13';
}
.ic-media-fast-forward-outline:before {
  content: '\ea14';
}
.ic-media-eject-outline:before {
  content: '\ea15';
}
.ic-wine:before {
  content: '\ea16';
}
.ic-waves-outline:before {
  content: '\ea17';
}
.ic-ticket:before {
  content: '\ea18';
}
.ic-tags:before {
  content: '\ea19';
}
.ic-plug:before {
  content: '\ea1a';
}
.ic-headphones:before {
  content: '\ea1b';
}
.ic-credit-card:before {
  content: '\ea1c';
}
.ic-coffee:before {
  content: '\ea1d';
}
.ic-book:before {
  content: '\ea1e';
}
.ic-beer:before {
  content: '\ea1f';
}
.ic-volume:before {
  content: '\ea20';
}
.ic-volume-up:before {
  content: '\ea21';
}
.ic-volume-mute:before {
  content: '\ea22';
}
.ic-volume-down:before {
  content: '\ea23';
}
.ic-social-vimeo-circular:before {
  content: '\ea24';
}
.ic-social-twitter-circular:before {
  content: '\ea25';
}
.ic-social-pinterest-circular:before {
  content: '\ea26';
}
.ic-social-linkedin-circular:before {
  content: '\ea27';
}
.ic-social-facebook-circular:before {
  content: '\ea28';
}
.ic-social-dribbble-circular:before {
  content: '\ea29';
}
.ic-tree:before {
  content: '\ea2a';
}
.ic-thermometer:before {
  content: '\ea2b';
}
.ic-social-tumbler-circular:before {
  content: '\ea2c';
}
.ic-social-skype-outline:before {
  content: '\ea2d';
}
.ic-social-flickr-circular:before {
  content: '\ea2e';
}
.ic-social-at-circular:before {
  content: '\ea2f';
}
.ic-shopping-cart:before {
  content: '\ea30';
}
.ic-messages:before {
  content: '\ea31';
}
.ic-leaf:before {
  content: '\ea32';
}
.ic-feather:before {
  content: '\ea33';
}
